@font-face {
    font-family: sans;
    src: url(./fonts/IRANSans/IRANSans.ttf);
    src: url(./fonts/IRANSans/IRANSans_Black.ttf);
    src: url(./fonts/IRANSans/IRANSans_Bold.ttf);
    src: url(./fonts/IRANSans/IRANSans_Light.ttf);
    src: url(./fonts/IRANSans/IRANSans_Medium.ttf);
    src: url(./fonts/IRANSans/IRANSans_UltraLight.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    -webkit-tap-highlight-color: transparent;
}